[url "git@github.com:"]
	insteadOf = https://github.com/
[core]
	editor = vim
[user]
	email = johnstonpaul801@gmail.com
	name = Paul Johnston
[url "msazure@vs-ssh.visualstudio.com:v3/msazure/CloudNativeCompute"]
        insteadOf = https://dev.azure.com/msazure/CloudNativeCompute/_git

[pager]
	branch = false
[rerere]
	enabled = true
